<nav>
    <div class="logo">
        <a [routerLink]="['login']">
            <img src="assets/logo.png" alt="Logo de SkyPark">
            SkyPark
        </a>
    </div>
    <ul class="nav-links">
        <li routerLinkActive="active"><a [routerLink]="['login']">Login</a></li>
        <li routerLinkActive="active"><a [routerLink]="['escritorio']">Escritorio</a></li>
        <li routerLinkActive="active"><a [routerLink]="['parking']">Parking</a></li>
        <li routerLinkActive="active"><a [routerLink]="['vehiculos']">Vehiculos</a></li>
        <li><a href="#">Reporte</a></li>
        <li><a href="#">User</a></li>
    </ul>
</nav>
