<div class="container">
    <img src="assets/logo.png" alt="Imagen Circular" class="circular-img">
</div>

<div class="container-left">
    <!-- Contenido del contenedor izquierdo -->
    <h2 style="text-align: center;">Entrada Basica</h2>

    <div class="input-container">
        <input type="text" id="nombre" placeholder="Ingrese su Nombre">
        <br>
        <input type="text" id="apellido" placeholder="Ingrese su Apellido">
        <br>
        <input type="text" id="placas" placeholder="Ingrese sus Placas">
        <br>
        <input type="text" id="modelo" placeholder="Ingrese el Modelo">
        <br>
        <input type="text" id="color" placeholder="Ingrese el Color">
        <br>
        <button id="btnAceptar">Aceptar</button>
    </div>
</div>

<div class="container-right">
    <!-- Contenido del contenedor derecho -->
    <h2 style="text-align: center;">Entrada Premium</h2>
    
    <!-- Campo de entrada y botón -->
    <div class="input-container">
        <input type="text" id="userID" placeholder="Ingrese su ID">
        <br> <!-- Agrega un salto de línea para separar el input y el botón -->
        <button id="btnAceptar">Aceptar</button>
    </div>
</div>

