body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd; /* Borde gris */
    padding: 12px;
    text-align: left; /* Alineación de texto a la izquierda */
}

th {
    background-color: #f2f2f2; /* Fondo gris claro para las celdas de encabezado */
    color: #333; /* Color de texto oscuro para las celdas de encabezado */
    font-weight: bold; /* Texto en negrita para las celdas de encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}

tr:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el ratón sobre la fila */
}

/* Estilos para la primera columna (por ejemplo, una columna de fecha) */
td:first-child {
    font-weight: bold; /* Texto en negrita */
}

h2{
    text-align: center;
}
