<div class="ficha">
    <div class="ficha-screen">
        <div class="app-title">
            <h1>Ficha de Paciente</h1>
        </div>
        <form [formGroup]="formRegistro" (ngSubmit)="onSubmit()">
            <div class="ficha-row">
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="expediente" placeholder="Expediente">
                </div>
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="nombre" placeholder="Nombre">
                </div>
                <div class="control-group">
                    <select class="ficha-field" formControlName="sexo">
                        <option value="" disabled selected>Selecciona Sexo</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                    </select>
                </div>
                <div class="control-group">
                    <input type="number" class="ficha-field" formControlName="edad" placeholder="Edad">
                </div>
                <div class="control-group">
                    <select class="ficha-field" formControlName="medico">
                        <option value="" disabled selected>Selecciona Médico</option>
                        <option value="catalina_garcia">Catalina Garcia</option>
                        <option value="mariana_garcia">Mariana Garcia</option>
                        <option value="dana_garcia">Dana Garcia</option>
                    </select>
                </div>
            </div>
            <div class="ficha-row">
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="piso" placeholder="Piso">
                </div>
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="cama" placeholder="Cama">
                </div>
                <div class="control-group">
                    <input type="number" class="ficha-field" formControlName="pfc" placeholder="PFC">
                </div>
                <div class="control-group">
                    <input type="number" class="ficha-field" formControlName="paquete_globular" placeholder="Paquete Globular">
                </div>
                <div class="control-group">
                    <select class="ficha-field" formControlName="grupo_sanguineo">
                        <option value="" disabled selected>Selecciona Grupo Sanguíneo</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                        <option value="RII">RII</option>
                    </select>
                </div>
                <div class="control-group">
                    <select class="ficha-field" formControlName="rh">
                        <option value="" disabled selected>Selecciona RH</option>
                        <option value="positivo">Positivo</option>
                        <option value="negativo">Negativo</option>
                    </select>
                </div>
            </div>
            <div class="ficha-row">
                <div class="control-group">
                    <select class="ficha-field" formControlName="tipo_solicitud">
                        <option value="" disabled selected>Selecciona Tipo de Solicitud</option>
                        <option value="urgente">Urgente</option>
                        <option value="ordinario">Ordinario</option>
                    </select>
                </div>
                <div class="control-group">
                    <input type="date" class="ficha-field" formControlName="para_el_dia" placeholder="Para el día">
                </div>
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="motivo_transfusion" placeholder="Motivo de Transfusión">
                </div>
                <div class="control-group">
                    <select class="ficha-field" formControlName="transfusiones_previas">
                        <option value="" disabled selected>Selecciona Transfusiones Previas</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="reacciones_transfusionales" placeholder="Reacciones Transfusionales">
                </div>
            </div>
            <div class="ficha-row">
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="datos_laboratorio" placeholder="Datos del Laboratorio">
                </div>
                <div class="control-group">
                    <input type="text" class="ficha-field" formControlName="solicita_medico" placeholder="Solicita (Médico)">
                </div>
                <div class="control-group">
                    <input type="time" class="ficha-field" formControlName="hora" placeholder="Hora">
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-large btn-block" value="Registrar">
        </form>
    </div>
</div>
