<div class="container">
    <img src="assets/logo.png" alt="Imagen Circular" class="circular-img">
</div>
<div class="container-left">
    <!-- Contenido del contenedor izquierdo -->
    <h2>Contenedor Izquierdo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod.</p>
</div>

<div class="container-right">
    <!-- Contenido del contenedor derecho -->
    <h2>Contenedor Derecho</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod.</p>
</div>