.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40vh;
}

.circular-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.container-left {
    width: 50%;
    height: 425px;
    background-color: #f0f0f0;
    float: left;
}

.container-right {
    width: 50%;
    height: 425px;
    background-color: #e0e0e0;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center;
    margin-top: 20px; /* Agrega un margen superior para separar el contenido del título */
}

.input-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-container button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #1f1e1e;
}
