<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas del Día</title>
</head>
<body>
    <!--Ventas del dia-->
    <h2>Ventas del Día</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Ventas</th>
            </tr>
        </thead>
        <tbody>
            <tr> <!-- Creo que aquí va lo del backend de la base de datos-->
                <td>01/05/2024</td>
                <td>$1000</td>
            </tr>
            <tr>
                <td>02/05/2024</td>
                <td>$1500</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <h2>Ventas de la semana</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Ventas</th>
            </tr>
        </thead>
        <tbody>
            <tr> <!-- Creo que aquí va lo del backend de la base de datos-->
                <td>29/04/2024 - 06/05/2024</td>
                <td>$10000</td>
            </tr>
            <tr>
                <td>06/05/2024 - 13/05/2024</td>
                <td>$15000</td>
            </tr>
        </tbody>
    </table>
<br><br>
    <h2>Ventas del Mes</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Ventas</th>
            </tr>
        </thead>
        <tbody>
            <tr> <!-- Creo que aquí va lo del backend de la base de datos-->
                <td>Enero</td>
                <td>$100000</td>
            </tr>
            <tr>
                <td>Febrero</td>
                <td>$150000</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
